.word-list-entry{
    float: left;
    position: relative;
    padding: 10px 10px;
}

.word-list-entry:hover{
    color: #b82e00;
}

.word-description{
    visibility: hidden;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    position: relative;
    z-index:-1;
    top:0px;
}

#word-list{
    border: 1px solid #D1D1D1;
    padding: 25px;
    border-radius: 4px;
}

/*A box that will scroll when content is larger
than the max-height of div */
.scrollable-box-container {
    height:auto;
    overflow: hidden;
    width:100%;
}

.scrollable-box {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 25px;
}

.right-align {
    text-align: right;
    padding-right: 15px;
}

.center-align{
    text-align:center;
}

.bottom-spacing {
    margin-bottom:10px;
}

body {
    font-family: 'Amiri', serif;
}
